<p>productos works!</p>

<div class="productos">
    <div>
        <img src="/img/hamburguesa.jpg">
        <p><b>DESCRIPCION:</b> El perro caliente tiene pan, carne, queso, cebolla, salsas </p>
        <p><b>precio:</b> 12.000</p>
        <button (click)="comprar()">Comprar</button>
    </div>
    <div>
        <img src="/img/perro_caliente.jpg">
        <p><b>DESCRIPCION:</b> El perro caliente tiene pan, salchicha, cebolla, salsas </p>
        <p><b>precio:</b>10.000</p>
        <button (click)="comprar()">Comprar</button>
    </div>

    <div>
        <img src="/img/pizza.jpg">
        <p><b>DESCRIPCION:</b> La pizza tiene pan, queso, tomate, jamon, champiñones </p>
        <p><b>precio:</b>12.500</p>
        <button (click)="comprar()">Comprar</button>
    </div>

    <div>
        <img src="/img/empanadas.jpg">
        <p><b>DESCRIPCION:</b> doce de empanadas de carne, pollo </p>
        <p><b>precio:</b>12.000</p>
        <button (click)="comprar()">Comprar</button>
    </div>

    <div>
        <img src="/img/salchipapas.jpg">
        <p><b>DESCRIPCION:</b> papas salchicha, salsa </p>
        <p><b>precio:</b>8.000</p>
        <button (click)="comprar()">Comprar</button>
    </div>
</div> 
